@model IEnumerable<SecretariaDeEscuelas.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered" style="text-align:center">
    <thead>
        <tr class="bg-danger">
            <th style="text-align:center">
                Carrera
            </th>
            <th style="text-align:center">
                Materia
            </th>
            
        </tr>
    </thead>
    
    <tbody>
        <tr class="bg-info">
            <td id="carreras">
            </td>
            <td id="materias">                
            </td>            
        </tr>
    
        </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("ListaCarreras","Carreras")',
            data: "{}",
            success: function (carrera) {

     /*           var s = '<td value = "-1"></td>';
                for (var i = 0; i < carrera.length; i++) {
                    s += '<td>' + carrera[i].nombre + carrera[i].carrerasMaterias + '</td>';
                }
                $("#carreras").html(s);
                console.log(carrera);*/

                var s;
                var p;
                for (var i = 0; i < carrera.length; i++) {
                    for (var j = 0; j < carrera[i].carrerasMaterias.length; j++) {
                        var materia = carrera[i].carrerasMaterias[j].materia;
                        
                        s += '<tr><td>' + carrera[i].nombre + '</td></tr>';
                        p += '<tr><td>' + materia.nombre + '<button>'+ "Opciones" + '</button> ' + '</td></tr>';
                        console.log(materia.nombre);

                        $("#carreras").html(s);
                        $("#materias").html(p);
                    }
                    
                }
            }
        });
    });

</script>
