@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Instituto1.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bienvenido a nuestro sistema de Instituciones                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Instituto2.png"class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Contamos con un sistema de Estudiantes y Maestros                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Instituto3.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Más de 40.000 alumnos recibidos a lo largo del 2020 en el Pais
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div style="text-align:center">
        <h2 style="text-decoration:underline">Secretaría de Escuelas N°9</h2>
        <h4>
            Somos un sistema en el cual podrás verificar las distintas instituciones que hay,
            conocer los datos de tus maestros, profesores y sus notas.
        </h4>
    </div>    
</div>
